// Typography
$font-family-sans-serif: 'Lato', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #2aae56;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: $green;
$dark-lightest: #444444;
$dark-lighter: #303030;
$dark: #222222;

// Body
$body-bg: $dark;

// Inputs
$input-group-addon-bg: #c4c4c4;
$input-group-addon-border-color: #c4c4c4;

// Table
$table-border-color: lighten($dark-lightest, 5%);

// Tooltips
$tooltip-bg: $dark;
